@import "../../../styles/_vars.scss";

.formGroups {
  margin-top: 30px;
  max-width: 840px;

  h2 {
    color: $midText;
    margin: 0 0 20px 0;
    width: 100%;
  }

  .fields {
    display: flex;
    flex-wrap: wrap;

    & > *:nth-child(even) {
      margin-right: 0;
    }
  }
}

$formGroupMargin: 40px;

.formGroup {
  margin: 0 $formGroupMargin $formGroupMargin 0;
  max-width: 600px;
  min-width: 400px;

  $inputHeight: 60px;
  $originalInputHeight: 40px;

  /* TODO: This might need refactoring */
  :global {
    label.bp3-label {
      color: $mainText;
      font-size: 18px;
      margin-bottom: 10px;

      .bp3-text-muted {
        color: $lightestText;
      }
    }
    .bp3-input-group .bp3-input {
      height: $inputHeight;
    }
    .bp3-input-group.bp3-large > .bp3-icon {
      margin-top: 12 + (($inputHeight - $originalInputHeight) / 2);
    }
  }
}

.fileField {
  margin: 0 $formGroupMargin $formGroupMargin 0;
  width: 400px;
}

.submitButtonWrapper {
  text-align: right;
  width: 100%;
}
