@import "../../../../styles/_vars.scss";

.toggleWrapper {
  position: absolute;
  right: 50px;
  top: 45px;
}

.icon {
  margin-right: 8px;
  text-align: right;
  width: 12px;

  &.fire {
    margin-right: 4px;
  }
}
