@import "../../../styles/_vars.scss";

.wrapper {
  color: $darkText;
  text-align: center;

  &.alignLeft {
    text-align: left;
  }
}

.icon {
  font-size: 40px;
}

.title {
  margin-bottom: 8px;
}
