$highlight: #514abf;
$contentBackground: #fff;
$secondaryBackground: #fbfcfc;
$mainText: #646e82;
$midText: #626088;
$darkText: #322f5f;
$lightestText: #8f8dc1;

$bellColour: #ff3a3a;
$bellTextColour: white;