@import "../../styles/_vars.scss";

.logoContainer {
  color: $highlight;
}

.icon,
.appName {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  margin-right: 8px;
  font-size: 22px;
}

.appName {
  margin: 0;
}
