@import "../../../styles/_vars.scss";

.button {
  background-color: $highlight;
  border: none;
  border-radius: $cornerRadius;
  color: #fff;
  padding: 15px 20px;
  font: {
    family: $fontFamily;
    size: 18px;
  }
  &.fill {
    width: 100%;
  }
  @include clickable();
}

$iconMargin: 8px;

.leftIcon {
  margin-right: $iconMargin;
}

.rightIcon {
  margin-left: $iconMargin;
}
