@import "../../../../styles/_vars.scss";

$formPadding: 0px;

:global {
  .bp3-menu-item.bp3-intent-primary.bp3-active,
  .bp3-tag {
    background-color: $highlight;
  }

  .bp3-menu::-webkit-scrollbar {
    width: $scrollbarThumbWidth;
  }

  .bp3-menu::-webkit-scrollbar-thumb {
    background: $scrollbarThumbColour;
    border-radius: 20px;
  }

  .bp3-menu::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
  }

  .bp3-popover-content .bp3-menu {
    max-height: 200px;
    overflow-y: auto;
  }
}

.sendNotificationForm {
  max-width: 600px;
  padding: $formPadding 0;

  .formTitle {
    color: $darkText;
    font-weight: 500;
    margin-top: 0;
  }

  :global {
    .bp3-form-group {
      margin-bottom: 30px;
    }

    .bp3-label {
      color: $midText;
      display: block;
      font-size: 16px;
      margin-bottom: 200px;
    }

    .bp3-popover-target {
      width: 100%;
    }

    .bp3-input.bp3-multi-select {
      padding: 5px 5px 5px 10px;
    }

    .bp3-input-ghost {
      font-size: 16px;
    }
  }
}
