@import "../../../../../styles/_vars.scss";

@mixin headingStyle {
  font: {
    family: $fontFamily;
    size: 16px;
    weight: 500;
  }
  margin-bottom: 15px;
}

$fieldMargin: 20px;

.taskForm {
  padding: 15px 3px 7px 10px;
}
