@import "./styles/_vars.scss";

@font-face {
  font-family: "Cerebri Sans";
  font-style: italic;
  font-weight: bold;
  src: url("./fonts/CerebriSans-BoldItalic.woff2") format("woff2"),
    url("./fonts/CerebriSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/CerebriSans-Light.woff2") format("woff2"),
    url("./fonts/CerebriSans-Light.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans";
  font-style: italic;
  font-weight: 800;
  src: url("./fonts/CerebriSans-ExtraBoldItalic.woff2") format("woff2"),
    url("./fonts/CerebriSans-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/CerebriSans-SemiBold.woff2") format("woff2"),
    url("./fonts/CerebriSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans";
  font-style: italic;
  font-weight: 500;
  src: url("./fonts/CerebriSans-MediumItalic.woff2") format("woff2"),
    url("./fonts/CerebriSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans";
  font-style: italic;
  font-weight: 900;
  src: url("./fonts/CerebriSans-HeavyItalic.woff2") format("woff2"),
    url("./fonts/CerebriSans-HeavyItalic.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans Book";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/CerebriSans-Book.woff2") format("woff2"),
    url("./fonts/CerebriSans-Book.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/CerebriSans-Regular.woff2") format("woff2"),
    url("./fonts/CerebriSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans";
  font-style: italic;
  font-weight: normal;
  src: url("./fonts/CerebriSans-Italic.woff2") format("woff2"),
    url("./fonts/CerebriSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/CerebriSans-Medium.woff2") format("woff2"),
    url("./fonts/CerebriSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans";
  font-style: italic;
  font-weight: 600;
  src: url("./fonts/CerebriSans-SemiBoldItalic.woff2") format("woff2"),
    url("./fonts/CerebriSans-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans";
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/CerebriSans-Bold.woff2") format("woff2"),
    url("./fonts/CerebriSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/CerebriSans-ExtraBold.woff2") format("woff2"),
    url("./fonts/CerebriSans-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/CerebriSans-Heavy.woff2") format("woff2"),
    url("./fonts/CerebriSans-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans";
  font-style: italic;
  font-weight: 300;
  src: url("./fonts/CerebriSans-LightItalic.woff2") format("woff2"),
    url("./fonts/CerebriSans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Cerebri Sans Book";
  font-style: italic;
  font-weight: normal;
  src: url("./fonts/CerebriSans-BookItalic.woff2") format("woff2"),
    url("./fonts/CerebriSans-BookItalic.woff") format("woff");
}

body.body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font: {
    family: $fontFamily;
    size: 16px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: $highlight;
  cursor: pointer;
  &:hover {
    color: $mainText;
    text-decoration: none;
  }
}

:focus {
  outline: none;
}

::selection {
  background: rgba($highlight, 0.2);
}
