@import "./styles/_vars.scss";

@font-face {
  font-family: "Cerebri Sans";
  src: url("/fonts/CerebriSans-Regular.woff2") format("woff2"),
    url("/fonts/CerebriSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url("fonts/CerebriSans-Medium.woff2") format("woff2"),
    url("fonts/CerebriSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body.body {
  margin: 0;
  padding: 0;
  font: {
    family: $fontFamily;
    size: 16px;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  cursor: pointer;
  color: $highlight;
  &:hover {
    color: $mainText;
    text-decoration: none;
  }
}

:focus {
  outline: none;
}

::selection {
  background: rgba($highlight, 0.2);
}
