@import "../../../styles/_vars.scss";

.taskName {
  color: $midText;
  margin-bottom: 10px;
  margin-top: 0;
  font: {
    size: 16px;
    weight: normal;
  }
}

.icon {
  margin-right: 7px;
  text-align: center;
  width: 16px;
}
